{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        thheller/shadow-cljs {:mvn/version "3.1.7"}
        no.cjohansen/nexus {:mvn/version "2025.07.1"}
        no.cjohansen/replicant {:mvn/version "2025.06.21"}}
 :aliases
 {:dev
  {:extra-paths ["test" "dev"]
   :extra-deps {no.cjohansen/dataspex {:mvn/version "2025.06.8"}}}}}
