{:deps {:aliases [:dev]}

 :builds
 {:main {:target :node-script
         :output-to "target/main.js"
         :main gremllm.main.core/main}
  
  :main-dev {:target :node-script
             :output-to "target/main.js"
             :main gremllm.main.dev/main}

  :renderer {:target :browser
             :output-dir "resources/public/compiled-js"
             :asset-path "js"
             :modules {:renderer {:init-fn gremllm.renderer.core/main}}}

  :test {:target :node-test
         :output-to "target/test.js"
         :ns-regexp "(?<!integration)-test$"
         :autorun true}

  :test-all {:target :node-test
             :output-to "target/test-all.js"
             :ns-regexp "(test|integration-test)$"
             :autorun true}

  :test-integration {:target :node-test
                     :output-to "target/test-integration.js"
                     :ns-regexp "-integration-test$"
                     :autorun true}}}
