{:deps {:aliases [:dev]}

 :builds
 {:main {:target :node-script
         :output-to "target/main.js"
         :main gremllm.main.core/main}
  
  :main-dev {:target :node-script
             :output-to "target/main-dev.js"
             :main gremllm.main.dev/main}

  :renderer {:target :browser
             :output-dir "resources/public/compiled-js"
             :asset-path "js"
             :modules {:renderer {:init-fn gremllm.renderer.core/main}}}

  :test {:target :node-test
         :output-to "target/test.js"
         :ns-regexp "-test$"
         :autorun true}}}
