name: Run Tests

on:
  push:
  pull_request:
    branches: [ main ]
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Setup environment
      uses: ./.github/actions/setup-environment

    - name: Run tests
      run: npm run test
